# encoding: UTF-8
= provide(:script, 'geometry_set.js')
= provide(:script_02, 'geometry_set_dev.js')

%p
  = link_to 'Back', root_path

.grid
  %canvas#graph_paper{width: 600, height: 400}
.notes
  -#.debug_panel
  %h3 Notes
  %h4 Formulae
  %ul
    %li sin(x) = O/H
    %li O = H * sin(x)
    %li H = sin(x) / O
    %li asin(O/H) = x
    %li radians = degrees * pi/180
    %li degrees = radians * 180/pi
  %h4
    Geometry Set functions
  %ul
    %li
      drawGrid(ctx, canvas);
    %li
      drawAxes(ctx, canvas, x, y);
    %li
      drawXAxis(context, canvas, y);
    %li
      drawYAxis(context, canvas, x);
    %li
      drawPoint(ctx, x, y);
    %li
      drawRect(ctx, x, y, h, w);
    %li
      drawCircle(ctx, x, y, r);
  %h4
    Trigonometry functions
  %ul
    %li
      degrees_to_radians(d);
    %li
      radians_to_degrees(r);
