a {
  color: red;
  font-size: 1.1em;
  
  &:hover, &:focus {
    color: gold;
  }
}

body {
  height: 100%;
  font-family: sans-serif;
  font-size: 62.5%;
}
  
canvas {
//  background: #eee;
  border: 1px solid #ddd;
}

code {
  font-family: Courier, "Courier New";
  font-size: 1.4em;
}

h1 {
  font-size: 2.4em;
}

html {
  height: 100%;
}

ul {
  li {
    margin-bottom: .5em;
    font-size: 1.2em;
  }
}

p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.notes {
  left: 640px;
  position: absolute;
  top: 40px;
  width: 300px;
}

.debug_panel {
  font-size: 1.2em;
  line-height: 1.4;
  padding: 10px;
  background: #000;
  color: #00ff00;
}